<?xml version="1.0" encoding="utf-8" ?>
<config>
  <feeds>
    <feed>
      <url>http://aghlaniat.blog.ir/rss/</url>
    </feed>
    <feed>
      <url>http://tahghigh20.ir/feed/</url>
    </feed>
  </feeds>
  <blogs>
    <blog>
      <url>http://parsiblog.com</url>
      <username>alto</username>
      <password>poorpoor</password>
      <login>Scripts/ParsiBlogLogin.xml</login>
      <post>Scripts/ParsiBlogPost.xml</post>
    </blog>
    <blog>
      <url>http://parsablog.com</url>
      <username>alto</username>
      <password>poorpoor</password>
      <login>Scripts/ParsaBlogLogin.xml</login>
      <post>Scripts/ParsaBlogPost.xml</post>
    </blog>
    <blog>
      <url>http://poor.javanblog.ir/</url>
      <username>alto</username>
      <password>poorpoor</password>
      <login>Scripts/JavanBlogLogin.xml</login>
      <post>Scripts/JavanBlogPost.xml</post>
    </blog>
    <blog>
      <url>http://alto.avablog.ir/</url>
      <username>alto</username>
      <password>poorpoor</password>
      <login>Scripts/AvaBlogLogin.xml</login>
      <post>Scripts/AvaBlogPost.xml</post>
    </blog>
    <blog>
      <url>http://alto.linelog.ir/</url>
      <username>alto</username>
      <password>poorpoor</password>
      <login>Scripts/LineBlogLogin.xml</login>
      <post>Scripts/LineBlogPost.xml</post>
    </blog>
    <blog>
      <url>http://alto.loxblog.com/</url>
      <username>alto</username>
      <password>poorpoor</password>
      <login>Scripts/LoxBlogLogin.xml</login>
      <post>Scripts/LoxBlogPost.xml</post>
    </blog>
    <blog>
      <url>http://week.blogfa.com/</url>
      <username>week</username>
      <password>poorpoor</password>
      <login>Scripts/BlogfaLogin.xml</login>
      <post>Scripts/BlogfaPost.xml</post>
    </blog>
    <blog>
      <url>http://blogsky.com/mostaz/post/new</url>
      <username>mostazafin</username>
      <password>poorpoor</password>
      <login>Scripts/BlogskyLogin.xml</login>
      <post>Scripts/BlogskyPost.xml</post>
    </blog>
    <blog>
      <url>http://blog.ir/panel/mostz/post_edit/#new</url>
      <username>poorpoor</username>
      <password>poorpoor</password>
      <login>Scripts/BayanLogin.xml</login>
      <post>Scripts/BayanPost.xml</post>
    </blog>
    <blog>
      <url>http://pishroblog.ir</url>
      <username>alto</username>
      <password>poorpoor</password>
      <login>Scripts/PishroBlogLogin.xml</login>
      <post>Scripts/PishroBlogPost.xml</post>
    </blog>
  </blogs>
</config>