<?xml version="1.0" encoding="utf-8" ?>
<config>
  <feeds>
    <feed>
      <url>http://aghlaniat.blog.ir/rss/</url>
    </feed>
    <feed>
      <url>http://tahghigh20.ir/feed/</url>
    </feed>
  </feeds>
  <blogs>
    <blog>
      <url>http://poor.javanblog.ir/</url>
      <username>alto</username>
      <password>poorpoor</password>
      <login>Scripts/JavanBlogLogin.xml</login>
      <post>Scripts/JavanBlogPost.xml</post>
    </blog>
    <blog>
      <url>http://alto.avablog.ir/</url>
      <username>alto</username>
      <password>poorpoor</password>
      <login>Scripts/AvaBlogLogin.xml</login>
      <post>Scripts/AvaBlogPost.xml</post>
    </blog>
    <blog>
      <url>http://alto.linelog.ir/</url>
      <username>alto</username>
      <password>poorpoor</password>
      <login>Scripts/LineBlogLogin.xml</login>
      <post>Scripts/LineBlogPost.xml</post>
    </blog>
    <blog>
      <url>http://alto.loxblog.com/</url>
      <username>alto</username>
      <password>poorpoor</password>
      <login>Scripts/LoxBlogLogin.xml</login>
      <post>Scripts/LoxBlogPost.xml</post>
    </blog>
    <blog>
      <url>http://week.blogfa.com/</url>
      <username>week</username>
      <password>poorpoor</password>
      <login>Scripts/BlogfaLogin.xml</login>
      <post>Scripts/BlogfaPost.xml</post>
    </blog>
    <blog>
      <url>http://blogsky.com/mostaz/post/new</url>
      <username>mostazafin</username>
      <password>poorpoor</password>
      <login>Scripts/BlogskyLogin.xml</login>
      <post>Scripts/BlogskyPost.xml</post>
    </blog>
  </blogs>
</config>